In [1]:
import pandas as pd

In [20]:
file = 'tabn208.30.xls'

data = pd.read_excel(file)
data

,"Table 208.30. Public elementary and secondary teachers, by level and state or jurisdiction: Selected years, fall 2000 through fall 2014",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,[In full-time equivalents],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State or jurisdiction,Fall 2000,NaN,Fall 2005,NaN,Fall 2010,NaN,Fall 2011,NaN,Fall 2012,...,NaN,NaN,Fall 2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ungraded,NaN,Total,NaN,Elementary,NaN,Secondary,NaN,Ungraded,NaN
3,1,2,NaN,3,NaN,4,NaN,5,NaN,6,...,10,NaN,11,NaN,12,NaN,13,NaN,14,NaN
4,United States ...............,2.94146e+06,\1\,3143003,\1\,3.09909e+06,\1\,3.10326e+06,\1\,3.1091e+06,...,169347,\1\,3.13235e+06,\1\,1.74316e+06,\1\,1.20326e+06,\1\,185931,\1\
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,\5\Includes imputations to correct for underre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,\6\Includes imputations to correct for underre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NOTE: Distribution of elementary and secondary...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data.columns

Index(['Table 208.40. Public elementary and secondary teachers, enrollment, and pupil/teacher ratios, by state or jurisdiction: Selected years, fall 2000 \n              through fall 2014',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

TypeError: 'method' object is not subscriptable