In [1]:
import pandas as pd

In [2]:
file_one = "ExpRev.csv"

In [3]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [4]:
file_one_df.head()

   Year       State     Revenue  Expenditure
0  2007     Alabama   7724467.0    7838377.0
1  2007      Alaska   2188537.0    2274819.0
2  2007     Arizona   9187024.0    9581201.0
3  2007    Arkansas   4589865.0    4681566.0
4  2007  California  72091820.0   73719265.0