In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import requests
import json

In [19]:
exp_file = "ExpRev.csv"
exp_df = pd.read_csv(exp_file)
exp_df.head()

   Year       State     Revenue  Expenditure
0  2007     Alabama   7724467.0    7838377.0
1  2007      Alaska   2188537.0    2274819.0
2  2007     Arizona   9187024.0    9581201.0
3  2007    Arkansas   4589865.0    4681566.0
4  2007  California  72091820.0   73719265.0

In [20]:
#2017 Data

exp17_df= exp_df[exp_df["Year"]==2017]

exp17_df.sort_values('Expenditure', ascending=True)

     Year                 State     Revenue  Expenditure
551  2017          South Dakota   1568440.0    1558530.0
518  2017  District of Columbia   1520849.0    1562841.0
555  2017               Vermont   1804614.0    1758510.0
544  2017          North Dakota   1773481.0    1846156.0
536  2017               Montana   1814065.0    1886164.0
560  2017               Wyoming   1930057.0    1911464.0
517  2017              Delaware   2206856.0    2071076.0
522  2017                 Idaho   2396039.0    2260290.0
549  2017          Rhode Island   2442045.0    2475343.0
511  2017                Alaska   2504464.0    2587060.0
529  2017                 Maine   2768378.0    2740218.0
521  2017                Hawaii   2844167.0    2778689.0
539  2017         New Hampshire   3124636.0    3017400.0
558  2017         West Virginia   3476338.0    3412733.0
541  2017            New Mexico   3797747.0    3778333.0
534  2017           Mississippi   4750751.0    4675220.0
538  2017                Nevada   4670479.0    4781032.0
537  2017              Nebraska   4431533.0    4799659.0
554  2017                  Utah   5160802.0    5229713.0
513  2017              Arkansas   5462279.0    5460822.0
546  2017              Oklahoma   6165537.0    6019507.0
526  2017                Kansas   6280387.0    6519665.0
525  2017                  Iowa   6898375.0    6800383.0
547  2017                Oregon   7654699.0    7935416.0
527  2017              Kentucky   7917769.0    7949741.0
510  2017               Alabama   7909958.0    8021292.0
528  2017             Louisiana   8406687.0    8142662.0
512  2017               Arizona   8601449.0    8386627.0
550  2017        South Carolina   9726983.0    9634412.0
552  2017             Tennessee  10065863.0   10333844.0
515  2017              Colorado  10383949.0   10418460.0
516  2017           Connecticut  11074485.0   10487033.0
535  2017              Missouri  11086375.0   10709243.0
524  2017               Indiana  12684323.0   11608121.0
559  2017             Wisconsin  11686068.0   11612679.0
533  2017             Minnesota  12439701.0   13473534.0
530  2017              Maryland  14913187.0   14422619.0
543  2017        North Carolina  13975840.0   14855814.0
557  2017            Washington  15646461.0   16078806.0
556  2017              Virginia  16529157.0   17013933.0
531  2017         Massachusetts  18039476.0   17376910.0
532  2017              Michigan  18756551.0   18088275.0
520  2017               Georgia  20373536.0   20123166.0
545  2017                  Ohio  23573180.0   24225460.0
519  2017               Florida  28996448.0   28900189.0
540  2017            New Jersey  29394902.0   29113576.0
548  2017          Pennsylvania  31179409.0   30953734.0
523  2017              Illinois  35270511.0   34249528.0
553  2017                 Texas  58891226.0   62985548.0
542  2017              New York  70031703.0   70375945.0
514  2017            California  89109048.0   86828123.0

In [21]:
#Ascending Expenditure Values