In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import requests
import json

In [4]:
exp_file = "ExpRev.csv"
exp_df = pd.read_csv(exp_file)
exp_df.head()

FileNotFoundError: [Errno 2] File ../Expenditure Data/ExpRev.csv does not exist: '../Expenditure Data/ExpRev.csv'

In [ ]:
#2017 Data

exp17_df= exp_df[exp_df["Year"]==2017]

exp17_df.sort_values('Expenditure', ascending=True)

In [ ]:
#Ascending Expenditure Values

In [ ]:
grad_file = "../Graduation Rates 2010-2016.csv"
grad_df = pd.read_csv(grad_file)
grad_df.head()

In [ ]:
new_df = pd.melt(grad_df, id_vars = ['State'], value_name = 'Graduation Rate')
new_df[new_df['State'] == 'Alabama']

In [ ]:
new_df= new_df.rename(columns={"variable":"Year"})

In [ ]:
new_df['Year'] = new_df['Year'].astype(float)

In [ ]:
merged_df = pd.merge(exp_df, new_df, on=['State', 'Year'], how="inner")
merged_df.dropna(how='any')

In [ ]:
merged_df['Graduation Rate'] = merged_df['Graduation Rate'].astype(float)
merged_df['Expenditure'] = merged_df['Expenditure'].astype(float)

In [ ]:
twothousandten = merged_df[merged_df['Year'] == 2010]
twothousandten

In [ ]:
twothousandeleven = merged_df[merged_df['Year'] == 2011]
twothousandeleven

In [ ]:
twothousandtwelve = merged_df[merged_df['Year'] == 2012]
twothousandtwelve

In [ ]:
twothousandthirteen = merged_df[merged_df['Year'] == 2013]
twothousandthirteen

In [ ]:
twothousandfourteen = merged_df[merged_df['Year'] == 2014]
twothousandfourteen

In [ ]:
twothousandfifteen = merged_df[merged_df['Year'] == 2015]
twothousandfifteen

,State/Jurisdiction,Fall 2000,Fall 2009,Fall 2010,Fall 2011,2012Teachers,2012 Enrollment,2012 Pupil/\nteacher ratio,2013 Teachers,2013 Enrollment,2013 Pupil/\nteacher ratio,2014 Teachers,2014 Enrollment,2014 Pupil/\nteacher ratio
0,United States,16.0,15.4,16.0,16.0,"3,109,101","49,771,118",16.0,"3,113,764","50,044,522",16.1,"3,132,351","50,312,581",16.1
1,Alabama,15.4,15.8,15.3,15.6,"51,877","744,637",14.4,"47,162","746,204",15.8,"42,737","744,164",17.4
2,Alaska,16.9,16.3,16.2,16.2,"7,682","131,489",17.1,"7,898","130,944",16.6,"7,759","131,176",16.9
3,Arizona,19.8,20.7,21.4,21.3,"48,866","1,089,384",22.3,"48,359","1,102,445",22.8,"48,124","1,111,695",23.1
4,Arkansas,14.1,12.9,14.1,14.2,"34,131","486,157",14.2,"34,933","489,979",14.0,"35,430","490,917",13.9

In [ ]:
x_axis_ten = twothousandten["Expenditure"]
y_axis_ten = twothousandten["Graduation Rate"]

In [ ]:
plt.scatter(x_axis_ten, y_axis_ten)

In [ ]:
x_axis_eleven = merged_df["Expenditure"]
y_axis_eleven = merged_df["Graduation Rate"]

In [ ]:
plt.scatter(x_axis_eleven, y_axis_eleven)